<article class="sidenav is-narrow">
    <div class="media-content">
    <nav class="panel">
    <div class="panel-block is-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <%= gravatar_image_tag(current_user.username, size: 64, alt: current_user.username) %>
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong><%= current_user.fullname %></strong><br />
                    </p>
                </div>
            </div>
        </article>
        <div class="level-item has-centered-text">
            <div>
                <p class="heading">Following</p>
                <p class="title is-6">123</p>
            </div>
                <div>
                <p class="heading">Followers</p>
                <p class="title is-6">18.5K</p>
            </div>
        </div>
    </div>
    <div class="content margin-bottom">
        <p>
            <strong><h2><a href="#" class="fa fa-home">Home</a></h2></strong><br />
        </p>
    
        <p>
            <strong><h2><a href="#" class="fa">@ Connect</a></h2></strong><br />
        </p>
        <p>
            <strong><h2><a href="#" class="fa"># Discover</a></h2></strong><br />
        </p>
        <p>
            <strong><h2><a href="#" class="fa fa-user">Profile</a></h2></strong><br />
        </p>
        <p>
            <strong><h2><a href="#" class="fa fa-pie-chart">Statistics</a></h2></strong><br />
        </p>
    </div>
    </div>
</nav>
</article>
