<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title">Create a new Opinion</h1>
                <%= render 'form', opinion: 0opinion %>
            </div>
        </div>
    </div>
</div>

<div class="navabar is-fixed-bottom">
    <div class="navbar-menu">
        <div class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                    <%= link_to 'Cancel', opinions_path, class: "button is-dark" %>
                </p>
            </div>
        </div>
    </div>
</div>